altgraph==0.17.4
Brlapi==0.8.2
camelot-py==0.11.0
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.3.2
chrome-gnome-shell==0.0.0
click==8.1.7
cryptography==43.0.1
cupshelpers==1.0
Cython==0.29.21
dbus-python==1.2.16
distlib==0.3.8
distro==1.5.0
distro-info==1.0
docutils==0.21.2
et-xmlfile==1.1.0
filelock==3.15.4
ghostscript==0.7
github3.py==4.0.1
idna==2.10
importlib_metadata==8.5.0
Kivy==2.3.0
Kivy-Garden==0.1.5
louis==3.16.0
Mako==1.1.3
MarkupSafe==1.1.1
numpy==2.0.2
olefile==0.46
opencv-python==4.10.0.84
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
pdfminer.six==20240706
pdftopng==0.2.3
pexpect==4.8.0
Pillow==8.1.2
platformdirs==4.2.2
pycairo==1.16.2
pycparser==2.22
pycups==2.0.1
pycurl==7.43.0.6
Pygments==2.18.0
PyGObject==3.38.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyJWT==2.9.0
pypdf==5.0.0
pysmbc==1.0.23
python-apt==2.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
pyxdg==0.27
reportlab==3.5.59
requests==2.25.1
six==1.16.0
tabula-py==2.9.3
tabulate==0.9.0
tk==0.1.0
typing_extensions==4.12.2
tzdata==2024.2
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.5
virtualenv==20.26.3
xdg==5
zipp==3.20.2
